# O que é o Pandas e para que serve

- Análise de Dados (seja para DataScience, seja para trabalhar de forma integrada com arquivos em Excel e Banco de Dados)
- Melhor biblioteca/módulo para trabalhar com quantidades enormes de informações
- Uma mistura de listas e dicionários de forma muito eficiente

## Resumo

Se você trabalha com muitos dados, você vai precisar usar o pandas

## Forma de usar

In [2]:
import pandas as pd

# pandas e csv

## Resumo

Quase sempre quando formos "ler" um arquivo csv, vamos usar o pandas. É prático e bem eficiente.

## Funcionamento

Forma mais básica: (muitas vezes não usaremos a forma mais básica)
dataframe = pd.read_csv(arquivo_com_extensao) #arquivo salvo na mesma pasta do programa

- Vamos ler um arquivo real, com a Base de Dados de Vendas da Empresa "Contoso"

In [3]:
promocoes_2017_df = pd.read_csv(r'Contoso - Promocoes.csv', sep=';') # a planilha só ficou apenas com uma coluna pois a mesma esta separada 
                                                       # por ';' e o padrão de separação para leitura é ','

promocoes_2017_df # colocar o nome da variavel direto ao invés de print(vendas_df) pois o print não formata a tabela

#abaixo modo para corrigir formatação e endereço de arquivo se não estiver na mesma pasta

,ID Promocao,Nome Promocao,Percentual Desconto,Data Inicio,Data Termino,Unnamed: 5,Unnamed: 6
0,1,Sem desconto,0,01/01/2017,31/12/2020,NaN,NaN
1,2,Promoção de Primavera Americana,"0,05",01/01/2017,31/03/2017,NaN,NaN
2,3,Promoção Volta às Aulas Americanas,"0,1",01/07/2017,30/09/2017,NaN,NaN
3,4,Promoção Férias Escolares Americanas,"0,2",01/11/2017,31/12/2017,NaN,NaN
4,5,Promoção Férias Asiáticas,"0,15",01/11/2017,31/01/2018,NaN,NaN
5,6,Promoção de Primavera Asiática,"0,2",01/02/2017,30/04/2017,NaN,NaN
6,7,Promoção de Verão Asiático,"0,1",01/05/2017,30/06/2017,NaN,NaN
7,8,Promoção de Primavera Europeia,"0,07",01/02/2017,30/04/2017,NaN,NaN
8,9,Promoção Volta às Aulas Europeias,"0,1",01/08/2017,30/09/2017,NaN,NaN
9,10,Promoção de Férias Europeias,"0,2",01/10/2017,31/01/2018,NaN,NaN
10,11,Promoção de Primavera Americana,"0,05",01/01/2018,31/03/2018,NaN,NaN
11,12,Promoção Volta às Aulas Americanas,"0,1",01/07/2018,30/09/2018,NaN,NaN
12,13,Promoção Férias Escolares Americanas,"0,2",01/11/2018,31/12/2018,NaN,NaN
13,14,Promoção Férias Asiáticas,"0,15",01/11/2018,31/01/2019,NaN,NaN
14,15,Promoção de Primavera Asiática,"0,2",01/02/2018,30/04/2018,NaN,NaN
15,16,Promoção de Verão Asiático,"0,1",01/05/2018,30/06/2018,NaN,NaN
16,17,Promoção de Primavera Europeia,"0,07",01/02/2018,30/04/2018,NaN,NaN
17,18,Promoção Volta às Aulas Europeias,"0,1",01/08/2018,30/09/2018,NaN,NaN
18,19,Promoção de Férias Europeias,"0,2",01/10/2018,31/01/2019,NaN,NaN
19,20,Promoção de Primavera Americana,"0,05",01/01/2019,31/03/2020,NaN,NaN
20,21,Promoção Volta às Aulas Americanas,"0,1",01/07/2019,30/09/2019,NaN,NaN
21,22,Promoção Férias Escolares Americanas,"0,2",01/11/2019,31/12/2019,NaN,NaN
22,23,Promoção Férias Asiáticas,"0,15",01/11/2019,31/01/2020,NaN,NaN
23,24,Promoção de Primavera Asiática,"0,2",01/02/2019,30/04/2019,NaN,NaN
24,25,Promoção de Verão Asiático,"0,1",01/05/2019,30/06/2019,NaN,NaN
25,26,Promoção de Primavera Europeia,"0,07",01/02/2019,30/04/2019,NaN,NaN
26,27,Promoção Volta às Aulas Europeias,"0,1",01/08/2019,30/09/2019,NaN,NaN
27,28,Promoção de Férias Europeias,"0,2",01/10/2019,31/01/2020,NaN,NaN

dataframe = pd.read_csv(r'caminho do arquivo\nome do arquivo.extensao') # arquivo salvo em pasta diferente do programa

In [4]:
cadastro_produtos_df = pd.read_csv(r'C:\Users\pablo\OneDrive\Área de Trabalho\PYTHON LIRA#\Pandas\Contoso - Cadastro Produtos.csv', sep=';') 
# endereço de onde o arquivo esta salvo 
# formatando a leitura da planilha colocando sep=';'
# o padrão de separação para leitura é ','

cadastro_produtos_df # colocar o nome da variavel direto ao invés de print(vendas_df) pois o print não formata a tabela

#abaixo modo para corrigir formatação e endereço de arquivo se não estiver na mesma pasta

,Nome do Produto,Descricao do Produto,Fabricante,Nome da Marca,Tipo,Custo Unitario,Preco Unitario,ID Produto,ID Subcategoria
0,Contoso Wireless Laser Mouse E50 Grey,Advanced 2.4 GHz cordless technology makes fre...,"Contoso, Ltd",Contoso,Econômico,"10,69","20,96",873,22
1,Contoso Optical Wheel OEM PS/2 Mouse E60 Grey,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Econômico,"6,63",13,879,22
2,Contoso Optical Wheel OEM PS/2 Mouse E60 Black,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Econômico,"6,63",13,880,22
3,Contoso Optical Wheel OEM PS/2 Mouse E60 White,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Econômico,"6,63",13,881,22
4,Contoso Optical Wheel OEM PS/2 Mouse E60 Silver,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Econômico,"6,63",13,882,22
...,...,...,...,...,...,...,...,...,...
1685,SV DVD 12-Inch Player Portable M400 Black,"6-hour rechargeable battery, 180-degree swivel...",Southridge Video,Southridge Video,Regular,"82,77","179,99",1602,35
1686,SV DVD 9-Inch Player Portable M300 Silver,"6-hour rechargeable battery, 180-degree swivel...",Southridge Video,Southridge Video,Regular,"73,57","159,99",1606,35
1687,SV DVD 12-Inch Player Portable M400 Silver,"6-hour rechargeable battery, 180-degree swivel...",Southridge Video,Southridge Video,Regular,"82,77","179,99",1607,35
1688,SV DVD 9-Inch Player Portable M300 White,"6-hour rechargeable battery, 180-degree swivel...",Southridge Video,Southridge Video,Regular,"73,57","159,99",1611,35
1689,SV DVD 12-Inch Player Portable M400 White,"6-hour rechargeable battery, 180-degree swivel...",Southridge Video,Southridge Video,Regular,"82,77","179,99",1612,35

# DataFrame


## Resumo

É como se fosse uma tabela.

- As colunas funcionam "como chaves de dicionário"
- As linhas funcionam "como listas"

## Funcionamento

Temos um dataframe chamado vendas_df

vendas_df['coluna_x'] -> uma lista com os valores da coluna_x (em formato dataframe, é um dataframe com 1 coluna só)
vendas_df[0] -> NÃO FUNCIONA ASSIM PARA DATAFRAMES
vendas_df[:3] -> pega até a linha de índice 3 do dataframe
vendas_df[['coluna_x', 'coluna_y', 'coluna_z']] -> cria um novo dataframe com as colunas coluna_x, coluna_y e coluna_z
vendas_df['coluna_x'][0] -> pega o itemd a 1ª linha da coluna coluna_x

- Vamos ler um arquivo real, com a Base de Dados de Vendas da Empresa "Contoso"

In [19]:
vendas_df = pd.read_csv('Contoso - Vendas - 2017.csv', sep=';')

vendas_df

#vendas_df[['Data do Envio', 'ID Cliente', 'ID Loja' ]]
#vendas_df['Data da Venda']
#vendas_df['ID Produto'][:12]
#vendas_df['ID Produto'][12]

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1
1,2,01/01/2017,06/01/2017,5,308,1586,2,18469,9,1
2,3,01/01/2017,01/01/2017,0,294,1444,5,19730,13,1
3,4,01/01/2017,01/01/2017,0,251,1468,5,29326,6,1
4,5,01/01/2017,07/01/2017,6,94,1106,2,22617,4,1
...,...,...,...,...,...,...,...,...,...,...
980637,980638,31/12/2017,31/12/2017,0,194,2490,4,10353,120,0
980638,980639,31/12/2017,06/01/2018,6,32,2488,4,31750,120,0
980639,980640,31/12/2017,03/01/2018,3,210,2511,10,12003,80,0
980640,980641,31/12/2017,31/12/2017,0,53,436,4,25550,39,0
980641,980642,31/12/2017,31/12/2017,0,309,2510,10,28707,80,0

## Aplicação

- O 1º passo de toda Análise de Dados é você entender o que existe na sua base de dados

Usaremos o .info() para isso

In [29]:
vendas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980642 entries, 0 to 980641
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Numero da Venda       980642 non-null  int64
 1   Data da Venda         980642 non-null  object
 2   Data do Envio         980642 non-null  object
 3   ID Canal              980642 non-null  int64
 4   ID Loja               980642 non-null  int64
 5   ID Produto            980642 non-null  int64
 6   ID Promocao           980642 non-null  int64
 7   ID Cliente            980642 non-null  int64
 8   Quantidade Vendida    980642 non-null  int64
 9   Quantidade Devolvida  980642 non-null  int64
dtypes: int64(8), object(2)
memory usage: 74.8+ MB

- Vamos criar então agora uma lista de Clientes

In [36]:
lista_clientes = vendas_df['ID Cliente']
lista_clientes

0          6825
1         18469
2         19730
3         29326
4         22617
          ...
980637    10353
980638    31750
980639    12003
980640    25550
980641    28707
Name: ID Cliente, Length: 980642, dtype: int64

- Vamos criar agora uma lista com os produtos e as quantidades de vendas dele, caso a gente queira analisar só os produtos (independente de data ou de cliente)

In [35]:
lista_colunas = ['ID Produto', 'Quantidade Vendida', 'Quantidade Devolvida'] # o nome tem que ser igual o que esta escrito na planilha
produtos_quantidade = vendas_df[lista_colunas]
produtos_quantidade

        ID Produto  Quantidade Vendida  Quantidade Devolvida
0              981                   9                     1
1             1586                   9                     1
2             1444                  13                     1
3             1468                   6                     1
4             1106                   4                     1
...            ...                 ...                   ...
980637        2490                 120                     0
980638        2488                 120                     0
980639        2511                  80                     0
980640         436                  39                     0
980641        2510                  80                     0

[980642 rows x 3 columns]